.roomie_banner_wrapper {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  background: url('../images/roomie_banner.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  height: 30vh;
  z-index: -2;
}

.roomie_banner_wrapper:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
}

.roomie_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.roomie_card_wrapper {
  width: 26%;
  display: flex;
  justify-content: flex-end;
}

.roomie_card_wrapper:nth-child(3n+2) {
  justify-content: center;
}

.roomie_card_wrapper:nth-child(3n+3) {
  justify-content: flex-start;
}

.roomie_card {
  background-color: #ddd;
  border: 2px solid #2d2d2d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.3s;
  text-decoration: none;
}

.roomie_card:hover {
  box-shadow: 0 9px 18px rgba(0,0,0,0.16), 0 9px 18px rgba(0,0,0,0.23);
}

.roomie_pic_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  background-color: #2d2d2d;
  color: #599CFF;
}

.roomie_pic_wrapper img {
  border-radius: 50%;
  border: 2px solid #599CFF;
  height: 100px;
  width: 100px;
}

.roomie_details_wrapper {
  color: #2d2d2d;
}

.roomie_details_wrapper i {
  margin: 0 10px;
}

.roomie_page_heading {
  text-align: center;
  font-family: 'Merienda One', cursive;
  font-size: 20px;
}